# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox ARIARoleMain LayoutFixedSidebar SidebarFirst">
    <h1 class="Header">[% Translate("Calendar Management") | html %]</h1>

    <div class="SidebarColumn">

        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">

                <ul class="ActionList">
[% IF Env("Subaction") == "Overview" %]
                    <li>
                        <a id="Back" href="[% Env("Baselink") %]Action=AgentAppointmentCalendarOverview" class="CallForAction Fullsize Center" title="[% Translate("Go back") | html %]">
                            <span><i class="fa fa-caret-left"></i>[% Translate("Go back") | html %]</span>
                        </a>
                    </li>
[% ELSIF Env("Subaction") != "" %]
                    <li>
                        <a id="Back" href="[% Env("Baselink") %]Action=AgentAppointmentCalendarManage" class="CallForAction Fullsize Center" title="[% Translate("Go back") | html %]">
                            <span><i class="fa fa-caret-left"></i>[% Translate("Go back") | html %]</span>
                        </a>
                    </li>
[% ELSE %]
                    <li>
                        <a id="Overview" href="[% Env("Baselink") %]Action=AgentAppointmentCalendarOverview" class="CallForAction Fullsize Center" title="[% Translate("Calendar Overview") | html %]">
                            <span><i class="fa fa-calendar"></i>[% Translate("Calendar Overview") | html %]</span>
                        </a>
                    </li>
[% END %]
[% RenderBlockStart("AddLink") %]
                    <li>
                        <a id="Add" href="[% Env("Baselink") %]Action=AgentAppointmentCalendarManage;Subaction=New" class="CallForAction Fullsize Center">
                            <span><i class="fa fa-plus-square"></i>[% Translate("Add new calendar") | html %]</span>
                        </a>
                    </li>
[% RenderBlockEnd("AddLink") %]
                </ul>
            </div>
        </div>
    </div>

    <div class="ContentColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Data.Title | html %]</h2>
            </div>

            <div class="Content">
[% RenderBlockStart("Overview") %]
                <table class="DataTable" id="User">
                    <thead>
                        <tr>
                            <th>[% Translate("Name") | html %]</th>
                            <th class="Center W10pc">[% Translate("Validity") | html %]</th>
                            <th class="Center W10pc">[% Translate("Changed") | html %]</th>
                            <th class="Center W10pc">[% Translate("Created") | html %]</th>
                            <th class="Center W10pc">[% Translate("Export") | html %]</th>
                        </tr>
                    </thead>
                    <tbody>
[% RenderBlockStart("Calendar") %]
                        <tr>
                            <td>
                                <a href="[% Env("Baselink") %]Action=AgentAppointmentCalendarManage;Subaction=Edit;CalendarID=[% Data.CalendarID | uri %]">
                                    [% Data.CalendarName | html %]
                                </a>
                            </td>
                            <td>[% Data.Valid | html %]</td>
                            <td>[% Data.ChangeTime | html %]</td>
                            <td>[% Data.CreateTime | html %]</td>
                            <td class="Center"><a href="[% Env("Baselink") %]Action=AgentAppointmentCalendarManage;Subaction=Export;CalendarID=[% Data.CalendarID | uri %];[% Env("ChallengeTokenParam") | html %]"><i class="fa fa-download"></i><span class="InvisibleText">[% Translate("Export") | html %]</span></a></td>
                        </tr>
[% RenderBlockEnd("Calendar") %]
[% RenderBlockStart("CalendarNoDataRow") %]
                        <tr>
                            <td colspan="5">
                                [% Translate("No data found.") | html %]
                            </td>
                        </tr>
[% RenderBlockEnd("CalendarNoDataRow") %]
                    </tbody>
                </table>
[% RenderBlockEnd("Overview") %]
[% RenderBlockStart("CalendarEdit") %]
                <form action="[% Env("CGIHandle") %]" method="post" name="CalendarFrom" id="CalendarFrom" class="Validate PreventMultipleSubmits">
                    <input type="hidden" name="Action" value="[% Env("Action") %]" />
                    <input type="hidden" name="Subaction" value="[% Data.Subaction | html %]"/>
                    <input type="hidden" name="CalendarID" value="[% Data.CalendarID | html %]"/>
                    <fieldset class="TableLike">
                        <legend><span>[% Translate("Calendar") | html %]</span></legend>
                        <label for="CalendarName" class="Mandatory">
                            <span class="Marker">*</span>
                            [% Translate("Calendar name") | html %]:
                        </label>
                        <div class="Field">
                            <input type="text" id="CalendarName" name="CalendarName" value="[% Data.CalendarName | html %]"
                                class="W95pc Validate_Required [% Data.CalendarNameInvalid | html %]" />
                            <div id="CalendarNameError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
[% IF Data.CalendarNameExists %]
                            <div id="CalendarNameServerError" class="TooltipErrorMessage"><p>[% Translate("Calendar with same name already exists.") | html %]</p></div>
[% ELSE %]
                            <div id="CalendarNameServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
[% END %]
                        </div>
                        <div class="Clear"></div>

                        <label>[% Translate("Validity") | html %]:</label>
                        <div class="Field">
                            [% Data.ValidID %]
                        </div>
                        <div class="Clear"></div>

                        <div class="Field SpacingTop">
                            <button value="Save" type="submit" id="Submit" class="Primary">[% Translate("Save") | html %]</button>
                            [% Translate("or") | html %]
                            <a href="[% Env("Baselink") %]Action=AgentAppointmentCalendarManage" title="[% Translate("Cancel") | html %]">
                                <span>[% Translate("Cancel") | html %]</span>
                            </a>
                        </div>
                    </fieldset>
                </form>
[% RenderBlockEnd("CalendarEdit") %]
            </div>
        </div>
    </div>
</div>
