# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox ARIARoleMain LayoutFixedSidebar SidebarFirst">
    <h1>[% Translate("Calendar Overview") | html %]</h1>
    <input type="hidden" value="[% Env("UserChallengeToken") %]" name="ChallengeToken" id="ChallengeToken" />
    <div class="SidebarColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">
                <ul class="ActionList">
                    <li>
                        <a href="[% Env("CGIHandle") %]?Action=AgentAppointmentCalendarManage;Subaction=Overview" class="CallForAction Fullsize Center">
                            <span><i class="fa fa-calendar-o"></i>[% Translate("Manage Calendars") | html %]</span>
                        </a>
                    </li>
[% RenderBlockStart("AppointmentCreateButton") %]
                    <li>
                        <a id="AppointmentCreateButton" href="#" class="CallForAction Fullsize Center" title="[% Translate("Add new Appointment") | html %]">
                            <span><i class="fa fa-plus-square"></i>[% Translate("Add Appointment") | html %]</span>
                        </a>
                    </li>
[% RenderBlockEnd("AppointmentCreateButton") %]
                </ul>
            </div>
        </div>
[% RenderBlockStart("CalendarWidget") %]
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Calendars") | html %]</h2>
            </div>
            <div class="Content">
                <input type="text" id="FilterCalendars" class="FilterBox" placeholder="[% Translate("Just start typing to filter...") | html %]" name="FilterCalendars" value="" title="[% Translate("Filter for calendars") | html %]">
                <table class="DataTable SpacingTopSmall" id="Calendars">
                    <thead>
                        <tr>
                            <th class="W10pc"></th>
                            <th class="W10pc"></th>
                            <th>[% Translate("Name") | html %]</th>
                            <th class="Center W10pc">[% Translate("URL") | html %]</th>
                        </tr>
                    </thead>
                    <tbody>
[% RenderBlockStart("CalendarSwitch") %]
                        <tr class="CalendarSwitch">
                            <td class="Center">
                                <input type="checkbox" id="Calendar[% Data.CalendarID | html %]" name="Calendar[% Data.CalendarID | html %]" data-id="[% Data.CalendarID | html %]" [% Data.Checked %]/>
                            </td>
                            <td class="Flags Center">
                                <label for="Calendar[% Data.CalendarID | html %]">
                                    <div class="Flag Small" title="[% Data.CalendarName | html %]">
                                        <span class="CalendarColor" style="background-color: [% Data.Color | html %];"></span>
                                    </div>
                                </label>
                            </td>
                            <td>
                                <label for="Calendar[% Data.CalendarID | html %]" title="[% Data.CalendarName | html %]">
                                    [% Data.CalendarName | truncate(21) | html %]
                                </label>
                            </td>
                            <td class="Center">
                                <span class="CopyToClipboard InlineButton" data-clipboard-text="[% Config("HttpType") %]://[% Config("FQDN") %]/[% Config("ScriptAlias") %]public.pl?Action=PublicCalendar;CalendarID=[% Data.CalendarID | uri %];User=[% Env("UserLogin") | uri %];Token=[% Data.AccessToken | uri %]" title="[% Translate("Copy public calendar URL") | html %]">
                                    <i class="fa fa-clipboard"></i>
                                    <span class="InvisibleText">[% Translate("Copy public calendar URL") | html %]</span>
                                </span>
                            </td>
                        </tr>
[% RenderBlockEnd("CalendarSwitch") %]
                        <tr class="FilterMessage Hidden">
                            <td colspan="4">[% Translate("No matches found.") | html %]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.UI.Table.InitTableFilter($('#FilterCalendars'), $('#Calendars'));

    var ClipboardJS = new Clipboard('.CopyToClipboard');
    ClipboardJS.on('success', function (Event) {
        $(Event.trigger).hide()
            .fadeIn();
        Event.clearSelection();
    });

    ClipboardJS.on('error', function(Event) {
        Core.Form.ErrorTooltips.InitTooltip($(Event.trigger), 'Press Ctrl+C (Cmd+C) to copy to clipboard');
        $(Event.trigger).focus();
    });
//]]></script>
[% END %]
[% RenderBlockEnd("CalendarWidget") %]
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Description") | html %]</h2>
            </div>
            <div class="Content">
                <p class="FieldExplanation">
                    [% Translate("This is an overview page for the Appointment Calendar.") | html %]
                </p>
            </div>
        </div>
    </div>

    <div class="ContentColumn">
        <div class="WidgetSimple CalendarWidget">
            <div class="Header">
                <div class="ActionMenu">
                    <div class="WidgetAction Settings">
                        <a href="#" id="CalendarSettingsButton" title="[% Translate("Settings") | html %]">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div>
                    <div class="Clear"></div>
                </div>
                <h2>[% Translate("Calendar") | html %]</h2>
            </div>
            <div class="Content ">

[% RenderBlockStart("NoCalendar") %]
                <p>[% Translate("No calendars found. Please add a calendar first by using Manage Calendars page.") | html %]</p>
[% RenderBlockEnd("NoCalendar") %]

[% RenderBlockStart("CalendarDiv") %]
                <div style="width: [% Data.CalendarWidth | html %]%; margin: 0 auto; z-index: 10;" id="calendar"></div>
[% RenderBlockEnd("CalendarDiv") %]

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[

Core.Config.Set('AppointmentCalendarTranslationsLoading', [% Translate("Loading...") | JSON %]);
Core.Config.Set('AppointmentCalendarTranslationsTooManyCalendarsHeadline', [% Translate("Too many active calendars") | JSON %]);
Core.Config.Set('AppointmentCalendarTranslationsTooManyCalendarsText', [% Translate("Please either turn some off first or increase the limit in configuration.") | JSON %]);
Core.Config.Set('AppointmentCalendarTranslationsYes', [% Translate("Yes") | JSON %]);
Core.Config.Set('AppointmentCalendarTranslationsSettings', [% Translate("Settings") | JSON %]);
Core.Config.Set('AppointmentCalendarTranslationsSave', [% Translate("Save") | JSON %]);

Core.Agent.AppointmentCalendar.Init({
    ChallengeToken: $("#ChallengeToken").val(),
    AllDayText: [% Translate("All-day") | JSON %],
    IsRTL: [% Data.IsRTLLanguage %],
    MonthNames: [
        [% Translate("January") | JSON %],
        [% Translate("February") | JSON %],
        [% Translate("March") | JSON %],
        [% Translate("April") | JSON %],
        [% Translate("May_long") | JSON %],
        [% Translate("June") | JSON %],
        [% Translate("July") | JSON %],
        [% Translate("August") | JSON %],
        [% Translate("September") | JSON %],
        [% Translate("October") | JSON %],
        [% Translate("November") | JSON %],
        [% Translate("December") | JSON %]
    ],
    MonthNamesShort: [
        [% Translate("Jan") | JSON %],
        [% Translate("Feb") | JSON %],
        [% Translate("Mar") | JSON %],
        [% Translate("Apr") | JSON %],
        [% Translate("May") | JSON %],
        [% Translate("Jun") | JSON %],
        [% Translate("Jul") | JSON %],
        [% Translate("Aug") | JSON %],
        [% Translate("Sep") | JSON %],
        [% Translate("Oct") | JSON %],
        [% Translate("Nov") | JSON %],
        [% Translate("Dec") | JSON %]
    ],
    DayNames: [
        [% Translate("Sunday") | JSON %],
        [% Translate("Monday") | JSON %],
        [% Translate("Tuesday") | JSON %],
        [% Translate("Wednesday") | JSON %],
        [% Translate("Thursday") | JSON %],
        [% Translate("Friday") | JSON %],
        [% Translate("Saturday") | JSON %]
    ],
    DayNamesShort: [
        [% Translate("Sun") | JSON %],
        [% Translate("Mon") | JSON %],
        [% Translate("Tue") | JSON %],
        [% Translate("Wed") | JSON %],
        [% Translate("Thu") | JSON %],
        [% Translate("Fri") | JSON %],
        [% Translate("Sat") | JSON %]
    ],
    DayNamesMin: [
        [% Translate("Su") | JSON %],
        [% Translate("Mo") | JSON %],
        [% Translate("Tu") | JSON %],
        [% Translate("We") | JSON %],
        [% Translate("Th") | JSON %],
        [% Translate("Fr") | JSON %],
        [% Translate("Sa") | JSON %]
    ],
    ButtonText: {
        today: [% Translate("Today") | JSON %],
        month: [% Translate("Month") | JSON %],
        week: [% Translate("Week") | JSON %],
        day: [% Translate("Day") | JSON %],
        timelineMonth: [% Translate("Timeline Month") | JSON %],
        timelineWeek: [% Translate("Timeline Week") | JSON %],
        timelineDay: [% Translate("Timeline Day") | JSON %],
        jump:[% Translate("Jump") | JSON %],
        prevDatepicker: [% Translate("Previous") | JSON %],
        nextDatepicker: [% Translate("Next") | JSON %]
    },
    FirstDay: [% Data.FirstDay | html %],
    DefaultView: [% Data.DefaultView | JSON %],
    Header: {
        left: 'month,agendaWeek,agendaDay timelineMonth,timelineWeek,timelineDay',
        center: 'title',
        right: 'jump,today prev,next'
    },
    DialogText: {
        EditTitle: [% Translate("Appointment") | JSON %],
        OccurrenceTitle: [% Translate("This is a repeating appointment") | JSON %],
        OccurrenceText: [% Translate("Would you like to edit just this occurrence or all occurrences?") | JSON %],
        OccurrenceAll: [% Translate("All occurrences") | JSON %],
        OccurrenceJustThis: [% Translate("Just this occurrence") | JSON %],
        Close: [% Translate("Close") | JSON %],
        Dismiss: [% Translate("Dismiss") | JSON %]
    },
    OverviewScreen: 'CalendarOverview',
    CalendarSettingsButton: 'CalendarSettingsButton',
    CalendarSettingsDialogContainer: 'CalendarSettingsDialogContainer',
    CalendarSettingsShow: [% Data.CalendarSettingsShow | JSON %],
    Callbacks: {
        EditAction: [% Data.EditAction | JSON %],
        EditMaskSubaction: [% Data.EditMaskSubaction | JSON %],
        EditSubaction: [% Data.EditSubaction | JSON %],
        AddSubaction: [% Data.AddSubaction | JSON %],
        PrefSubaction: [% Data.PrefSubaction | JSON %],
        ListAction: [% Data.ListAction | JSON %],
        DaysSubacton: [% Data.DaysSubaction | JSON %]
    },
    Appointment: {
        AppointmentCreate: [% Data.AppointmentCreate || "null" %],
        AppointmentID: [% Data.AppointmentID | JSON %],
        AppointmentCreateButton: 'AppointmentCreateButton'
    },
    Calendars: {
        Sources: {
[% RenderBlockStart("CalendarSource") %]
            [% Data.CalendarID | JSON %]: {
                url: Core.Config.Get('CGIHandle'),
                type: 'POST',
                data: {
                    ChallengeToken: $("#ChallengeToken").val(),
                    Action: 'AgentAppointmentList',
                    Subaction: 'ListAppointments',
                    CalendarID: [% Data.CalendarID | JSON %],
                    ResourceID: [% Data.ResourceID | JSON %]
                },
                color: [% Data.Color | JSON %],
                textColor: [% Data.TextColor | JSON %],
                borderColor: 'rgba(0, 0, 0, 0.2)',
                startParam: 'StartTime',
                endParam: 'EndTime',

                // workaround for removeEventSource
                googleCalendarId: [% Data.CalendarID | JSON %],
                eventDataTransform: function(AppointmentData) {
                    return {
                        id: AppointmentData.AppointmentID,
                        parentId: AppointmentData.ParentID,
                        start: AppointmentData.StartTime,
                        startDate: AppointmentData.StartDate,
                        end: AppointmentData.EndTime,
                        endDate: AppointmentData.EndDate,
                        title: AppointmentData.Title,
                        description: AppointmentData.Description,
                        location: AppointmentData.Location,
                        calendarId: AppointmentData.CalendarID,
                        allDay: parseInt(AppointmentData.AllDay, 10) ? true : false,
                        recurring: parseInt(AppointmentData.Recurring, 10) ? true : false,
                        teamIds: AppointmentData.TeamID,
                        teamNames: AppointmentData.TeamNames,
                        resourceIds: AppointmentData.ResourceID,
                        resourceNames: AppointmentData.ResourceNames,
                        pluginData: AppointmentData.PluginData,
                        calendarName: [% Data.CalendarName | JSON %],
                        calendarColor: [% Data.Color | JSON %],
                        notification: AppointmentData.NotificationDate.length ? true : false,
                        notificationDate: AppointmentData.NotificationDate,
                        notificationTemplate: AppointmentData.NotificationTemplate,
                        notificationCustom: AppointmentData.NotificationCustom,
                        notificationCustomRelativeUnitCount: AppointmentData.NotificationCustomRelativeUnitCount,
                        notificationCustomRelativeUnit: AppointmentData.NotificationCustomRelativeUnit,
                        notificationCustomRelativePointOfTime: AppointmentData.NotificationCustomRelativePointOfTime,
                        notificationCustomDateTime: AppointmentData.NotificationCustomDateTime
                    };
                }
            }
[% RenderBlockStart("CalendarSourceComma") %]
            ,
[% RenderBlockEnd("CalendarSourceComma") %]
[% RenderBlockEnd("CalendarSource") %]
        },
        Switches: $('.CalendarSwitch input[type="checkbox"]'),
        Limit: [% Config("AppointmentCalendar::CalendarLimitOverview") || 10 %]
    },
    WorkingHours: [
[% RenderBlockStart("WorkingHours") %]
        {
            id: 'workingHours',
            start: [% Data.StartTime | JSON %],
            end: [% Data.EndTime | JSON %],
            color: '#D7D7D7',
            rendering: 'inverse-background',
            editable: false,
            dow: [% Data.DoW %]
        }
[% RenderBlockStart("WorkingHoursComma") %]
        ,
[% RenderBlockEnd("WorkingHoursComma") %]
[% RenderBlockEnd("WorkingHours") %]
    ]
});

//]]></script>
[% END %]

            </div>
        </div>
    </div>
    <div class="Clear"></div>

    <div id="CalendarSettingsDialogContainer" class="Hidden">
        <form id="ContextSettingsDialogCalendarOverview" class="">
            <fieldset class="TableLike FixedLabelSmall">
                <label for="ShownAppointments">[% Translate("Show") | html %]:</label>
                <div class="Field">
                    [% Data.ShownAppointmentsString %]
                </div>
                <div class="Clear"></div>
            </fieldset>
        </form>
    </div>

    <div id="AppointmentTooltipTemplate" class="Hidden">
        <div class="Icons"></div>
        <fieldset>
            <legend><span>[% Translate("Basic information") | html %]</span></legend>
            <p class="Value">%title%</p>
            <label>[% Translate("Title") | html %]:</label>
            <div class="Clear"></div>
            <p class="Value">%description%</p>
            <label>[% Translate("Description") | html %]:</label>
            <div class="Clear"></div>
            <p class="Value">%location%</p>
            <label>[% Translate("Location") | html %]:</label>
            <div class="Clear"></div>
            <p class="Value">
                <span class="Flag Small">
                    <span class="CalendarColor" style="background-color: %calendarColor%;"></span>
                </span>
                %calendarName%
            </p>
            <label>[% Translate("Calendar") | html %]:</label>
            <div class="Clear"></div>
        </fieldset>
        <fieldset>
            <legend><span>[% Translate("Resource") | html %]</span></legend>
            <p class="Value">%teamNames%</p>
            <label>[% Translate("Team") | html %]:</label>
            <div class="Clear"></div>
            <p class="Value">%resourceNames%</p>
            <label>[% Translate("Agent") | html %]:</label>
            <div class="Clear"></div>
        </fieldset>
        <fieldset>
            <legend><span>[% Translate("Date/Time") | html %]</span></legend>
            <p class="Value">%startDate%</p>
            <label>[% Translate("Start date") | html %]:</label>
            <div class="Clear"></div>
            <p class="Value">%endDate%</p>
            <label>[% Translate("End date") | html %]:</label>
            <div class="Clear"></div>
            <p class="Value">%allDay%</p>
            <label>[% Translate("All-day") | html %]:</label>
            <div class="Clear"></div>
            <p class="Value">%recurring%</p>
            <label>[% Translate("Repeat") | html %]:</label>
            <div class="Clear"></div>
        </fieldset>
[% IF Data.PluginList %]
        <fieldset>
            <legend><span>[% Translate("Link") | html %]</span></legend>
[% FOREACH PluginKey IN Data.PluginList.keys %]
            <p class="Value">%[% PluginKey %]%</p>
            <label>[% Translate(Data.PluginList.$PluginKey.PluginName) | html %]:</label>
            <div class="Clear"></div>
[% END %]
        </fieldset>
[% END %]
        <fieldset>
            <legend><span>[% Translate("Notification") | html %]</span></legend>
            <p class="Value">%notificationDate%</p>
            <label>[% Translate("Notification") | html %]:</label>
            <div class="Clear"></div>
        </fieldset>
    </div>

</div>
