# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("EditMask") %]
<div class="InnerContent">
    <form action="[% Env("CGIHandle") %]" method="post" id="EditAppointmentForm">
        <input type="hidden" name="Action" value="[% Env("Action") %]" id="AgentAppointmentEdit"/>
        <input type="hidden" name="Subaction" value="Store"/>
        <input type="hidden" name="CalendarID" value="[% Data.CalendarID | html %]"/>
        <input type="hidden" name="AppointmentID" value="[% Data.AppointmentID | html %]"/>
        <fieldset class="TableLike">
            <legend><span>[% Translate("Basic info") | html %]</span></legend>
            <label>[% Translate("Title") | html %]:</label>
            <div class="Field">
                <input type="text" name="Title" value="[% Data.Title | html %]" class="W95pc" />
            </div>
            <div class="Clear"></div>
            <label>[% Translate("Description") | html %]:</label>
            <div class="Field">
                <textarea name="Description" class="W95pc">[% Data.Description | html %]</textarea>
            </div>
            <div class="Clear"></div>
            <label>[% Translate("Location") | html %]:</label>
            <div class="Field">
                <input type="text" name="Location" value="[% Data.Location | html %]" class="W95pc" />
            </div>
        </fieldset>
        <fieldset class="TableLike">
            <legend><span>[% Translate("Date/Time") | html %]</span></legend>
            <label>[% Translate("Start date") | html %]:</label>
            <div class="Field">
                [% Data.StartDateString %]
            </div>
            <div class="Clear"></div>
            <label>[% Translate("End date") | html %]:</label>
            <div class="Field">
                [% Data.EndDateString %]
            </div>
        </fieldset>
    </form>
</div>

<div class="ContentFooter Center">
    <button id="EditFormSubmit" class="Primary CallForAction" value="Store"><span><i class="fa fa-check-square-o"></i> [% Translate("Save") | html %]</span></button>
    <button id="EditFormCancel" class="CallForAction"><span>[% Translate("Cancel") | html %]</span></button>
</div>

<script type="text/javascript">//<![CDATA[

// Initialize appointment ID
var AppointmentID = $('input[name="AppointmentID"]').val(),
    Data;

// Bind button actions
$('#EditFormSubmit').bind('click', function() {

    Data = {
        CalendarID: [% Data.CalendarID | JSON %],
        Title: $('input[name="Title"]').val(),
        Description: $('textarea[name="Description"]').val(),
        Location: $('input[name="Location"]').val(),
        StartYear: $('#StartYear').val(),
        StartMonth: $('#StartMonth').val(),
        StartDay: $('#StartDay').val(),
        StartHour: $('#StartHour').val(),
        StartMinute: $('#StartMinute').val(),
        EndYear: $('#EndYear').val(),
        EndMonth: $('#EndMonth').val(),
        EndDay: $('#EndDay').val(),
        EndHour: $('#EndHour').val(),
        EndMinute: $('#EndMinute').val()
    };

    // Add screen
    if (AppointmentID == '') {

        Data.Action = 'AgentAppointmentEdit';
        Data.Subaction = 'AddAppointment';

        Core.AJAX.FunctionCall(
            Core.Config.Get('CGIHandle'),
            Data,
            function (Response) {
                if (Response.AppointmentID) {
                    $('#calendar').fullCalendar('refetchEvents');

                    // Close the dialog
                    Core.UI.Dialog.CloseDialog($('.Dialog:visible'));
                }
            }
        );

    }

    // Edit screen
    else {

        Data.Action = 'AgentAppointmentEdit';
        Data.Subaction = 'EditAppointment';
        Data.AppointmentID = AppointmentID;

        Core.AJAX.FunctionCall(
            Core.Config.Get('CGIHandle'),
            Data,
            function (Response) {
                if (Response.Success) {
                    $('#calendar').fullCalendar('refetchEvents');

                    // Close the dialog
                    Core.UI.Dialog.CloseDialog($('.Dialog:visible'));
                }
            }
        );

    }

});

// Close the dialog
$('#EditFormCancel').bind('click', function() {
    Core.UI.Dialog.CloseDialog($('.Dialog:visible'));
});

//]]></script>
[% RenderBlockEnd("EditMask") %]
