# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("EditMask") %]
<div class="InnerContent">
    <form id="EditAppointmentForm" class="Validate">
        <input type="hidden" id="ChallengeToken" name="ChallengeToken" value="[% Env("UserChallengeToken") | html %]"/>
        <input type="hidden" id="Action" name="Action" value="[% Env("Action") | html %]"/>
        <input type="hidden" id="Subaction" name="Subaction" value="EditAppointment"/>
        <input type="hidden" id="AppointmentID" name="AppointmentID" value="[% Data.AppointmentID | html %]"/>
[% FOREACH ResourceID IN Data.ResourceID %]
        <input type="hidden" id="ResourceID" name="ResourceID[]" value="[% ResourceID | html %]"/>
[% END %]
        <input type="hidden" id="Recurring" name="Recurring" value="[% Data.Recurring | html %]"/>
        <input type="hidden" id="RecurrenceDays" name="RecurrenceDays" value="[% Data.RecurrenceDays | html %]"/>
        <input type="hidden" id="RecurrenceMonths" name="RecurrenceMonths" value="[% Data.RecurrenceMonths | html %]"/>
        <input type="hidden" id="RecurrenceMonthDays" name="RecurrenceMonthDays" value="[% Data.RecurrenceMonthDays | html %]"/>
        <fieldset class="TableLike">
            <legend><span>[% Translate("Basic information") | html %]</span></legend>
            <label class="Mandatory" for="Title"><span class="Marker">*</span> [% Translate("Title") | html %]:</label>
            <div class="Field">
                <input type="text" id="Title" name="Title" value="[% Data.Title | html %]" class="W75pc Validate_Required"[% IF Data.PermissionLevel < 2 %] disabled="disabled" readonly="readonly"[% END %] />
                <div id="TitleError" class="TooltipErrorMessage">
                    <p>[% Translate("This field is required.") | html %]</p>
                </div>
                <div id="TitleServerError" class="TooltipErrorMessage">
                    <p>[% Translate("This field is required.") | html %]</p>
                </div>
            </div>
            <div class="Clear"></div>
            <label for="Description">[% Translate("Description") | html %]:</label>
            <div class="Field">
                <textarea id="Description" name="Description" class="W75pc" rows="4"[% IF Data.PermissionLevel < 2 %] disabled="disabled" readonly="readonly"[% END %]>[% Data.Description | html %]</textarea>
            </div>
            <div class="Clear"></div>
            <label for="Location">[% Translate("Location") | html %]:</label>
            <div class="Field">
                <input type="text" id="Location" name="Location" value="[% Data.Location | html %]" class="W50pc"[% IF Data.PermissionLevel < 2 %] disabled="disabled" readonly="readonly"[% END %] />
            </div>
            <div class="Clear"></div>
            <label for="CalendarID" class="Mandatory"><span class="Marker">*</span> [% Translate("Calendar") | html %]:</label>
            <div class="Field">
                [% Data.CalendarIDStrg %]
                <div id="CalendarIDError" class="TooltipErrorMessage">
                    <p>[% Translate("This field is required.") | html %]</p>
                </div>
                <div id="CalendarIDServerError" class="TooltipErrorMessage">
                    <p>[% Translate("This field is required.") | html %]</p>
                </div>
            </div>
        </fieldset>
[% IF Data.TeamListStrg %]
        <fieldset class="TableLike">
            <legend><span>[% Translate("Resource") | html %]</span></legend>
            <label for="TeamList">[% Translate("Team") | html %]:</label>
            <div class="Field">
                [% Data.TeamListStrg %]
            </div>
            <div class="Clear"></div>
[% FOREACH TeamID IN Data.TeamUserLists.keys %]
            <label for="TeamUserList[% TeamID %]" class="TeamUserListLabel">[% Translate("Agent") | html %]:</label>
            <div class="Field TeamUserList">
                [% Data.TeamUserLists.$TeamID %]
            </div>
[% END %]
        </fieldset>
[% END %]
        <fieldset class="TableLike">
            <legend><span>[% Translate("Date/Time") | html %]</span></legend>
            <label>[% Translate("Start date") | html %]:</label>
            <div class="Field">
                [% Data.StartDateString %]
            </div>
            <div class="Clear"></div>
            <label>[% Translate("End date") | html %]:</label>
            <div class="Field">
                [% Data.EndDateString %]
            </div>
            <div class="Clear"></div>
            <label for="AllDay">[% Translate("All-day") | html %]:</label>
            <div class="Field">
                <input type="checkbox" id="AllDay" name="AllDay" [% Data.AllDayChecked %][% IF Data.PermissionLevel < 2 %] disabled="disabled" readonly="readonly"[% END %] />
            </div>
            <div class="Clear"></div>
            <label for="RecurrenceType">[% Translate("Repeat") | html %]:</label>
[% IF Data.ParentID %]
            <div class="Field">
                [% Translate("This an ocurrence of a repeating appointment.") | html %]<br>
                <a href="#" id="EditParent">[% Translate("Click here to edit the parent appointment.") | html %]</a>
            </div>
[% ELSE %]
            <div class="Field">
                [% Data.RecurrenceTypeString %]
            </div>
##
            <div style="background-color:#f5f5f5">
                <fieldset class="TableLike" id="RecurrenceCustomTypeStringFieldset">
                    <label>[% Translate("Recurrence pattern") | html %]:</label>
                    <div class="Field">
                        [% Data.RecurrenceCustomTypeString %]
                    </div>

                    <div class="Field">
                        [% Translate("Every") | html %]:
                        [% Data.RecurrenceIntervalString %]
                        <span id="RecurrenceIntervalText"></span>
                    </div>
                </fieldset>

                <fieldset class="TableLike" id="RecurrenceCustomWeeklyFieldset">
                    <div class="Field">
                        [% Translate("On") | html %]:
                        <input type="hidden" id="Days" name="Days" value="[% Data.Days %]" />

                        <table class="ButtonTable">
                            <tbody>
                                <tr>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" value="1" title="[% Translate("Monday") | html %]">
                                            [% Translate("Monday") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" value="2" title="[% Translate("Tuesday") | html %]">
                                            [% Translate("Tuesday") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" value="3" title="[% Translate("Wednesday") | html %]">
                                            [% Translate("Wednesday") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" value="4" title="[% Translate("Thursday") | html %]">
                                            [% Translate("Thursday") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" value="5" title="[% Translate("Friday") | html %]">
                                            [% Translate("Friday") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" value="6" title="[% Translate("Saturday") | html %]">
                                            [% Translate("Saturday") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" value="7" title="[% Translate("Sunday") | html %]">
                                            [% Translate("Sunday") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>

                <fieldset class="TableLike" id="RecurrenceCustomMonthlyFieldset">
                    <div class="Field">
                        [% Translate("On") | html %]:
                        <input type="hidden" id="MonthDays" name="MonthDays" value="[% Data.MonthDays %]" />

                        <table class="ButtonTable">
                            <tbody>

# Output table with 31 days
# Monthly table start

[% Count = 1 %]

[% WHILE Count < 32 %]
[% IF Count % 7 == 1 %]
                                <tr>
[% END %]

# join strings (Monthly1, Monthly2,...)
[% MonthlyCount = "Monthly" _ Count %]
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" value="[% Count %]" title="[% Count %]">
                                            [% Count %]
                                        </button>
                                    </td>
[% IF Count % 7 == 0 %]
                                </tr>
[% END %]

[% Count = Count + 1 %]
[% END %]

# Monthly table end
                            </tbody>
                        </table>
                    </div>
                </fieldset>

                <fieldset class="TableLike" id="RecurrenceCustomYearlyFieldset">
                    <div class="Field">
                        [% Translate("On") | html %]:
                        <input type="hidden" id="Months" name="Months" value="[% Data.Months %]" />

                        <table class="ButtonTable">
                            <tbody>
                                <tr>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("January") | html %]" value="1" >
                                            [% Translate("January") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("February") | html %]" value="2" >
                                            [% Translate("February") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("March") | html %]" value="3" >
                                            [% Translate("March") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("April") | html %]" value="4" >
                                            [% Translate("April") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("May") | html %]" value="5" >
                                            [% Translate("May") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("June") | html %]" value="6" >
                                            [% Translate("June") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("Jully") | html %]" value="7" >
                                            [% Translate("Jully") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("August") | html %]" value="8" >
                                            [% Translate("August") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("September") | html %]" value="9" >
                                            [% Translate("September") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("October") | html %]" value="10" >
                                            [% Translate("October") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("November") | html %]" value="11" >
                                            [% Translate("November") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                    <td class="fc">
                                        <button class="fc-button fc-state-default" type="button" title="[% Translate("December") | html %]" value="12" >
                                            [% Translate("December") | truncate(3,'') | html %]
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div>
##
            <div id="RecurrenceLimitDiv" class="Field Hidden">
                [% Data.RecurrenceLimitString %]
            </div>
            <div id="RecurrenceUntilDiv" class="Field Hidden">
                [% Data.RecurrenceUntilString %]
            </div>
            <div id="RecurrenceCountDiv" class="Field Hidden">
                <input type="text" id="RecurrenceCount" name="RecurrenceCount" value="[% Data.RecurrenceCount | html %]" size="1" maxlength="2" />
            </div>
[% END %]
        </fieldset>
[% IF Data.PluginList %]
        <fieldset class="TableLike">
            <legend><span>[% Translate("Link") | html %]</span></legend>
[% FOREACH Key IN Data.PluginList.keys %]
            <label>[% Translate(Data.PluginList.$Key.PluginName) | html %]:</label>
            <div class="Field">
[% IF Data.PermissionLevel >= 2 %]
                <input type="text" data-plugin-key="[% Key | html %]" data-plugin-url="[% Data.PluginList.$Key.PluginURL | html %]" class="PluginField W75pc" />
[% END %]
                <input type="hidden" id="Plugin_[% Key | html %]" name="Plugin_[% Key | html %]" value='[% Data.PluginList.$Key.LinkList || "[]" %]' />
# keep following block on a single line, so :empty CSS selector would work!
                <div id="PluginContainer_[% Key | html %]" class="PluginContainer">[% FOREACH Link IN Data.PluginData.$Key %]<div class="Link_[% Link.LinkID | html %]">
                    <a target="_blank" href="[% Link.LinkURL %]">[% Link.LinkName | html %]</a>[% IF Data.PermissionLevel >= 2 %]<a class="RemoveButton" href="#" data-plugin-key="[% Key | html %]" data-link-id="[% Link.LinkID | html %]" title="[% Translate("Remove entry") | html %]"><i class="fa fa-minus-square-o"></i><span class="InvisibleText">[% Translate("Remove") | html %]</span></a>[% END %]
                </div>[% END %]</div>
            </div>
            <div class="Clear"></div>
[% END %]
        </fieldset>
[% END %]
    </form>
</div>

<div class="ContentFooter Center">
[% IF !Data.PermissionLevel OR Data.PermissionLevel > 1 %]
    <button id="EditFormSubmit" class="Primary CallForAction" value="[% Translate("Save") | html %]"><span><i class="fa fa-check-square-o"></i> [% Translate("Save") | html %]</span></button>
[% END %]
[% IF Data.AppointmentID AND Data.PermissionLevel > 2 %]
    <button id="EditFormCopy" class="CallForAction" value="[% Translate("Copy") | html %]"><span><i class="fa fa-files-o"></i> [% Translate("Copy") | html %]</span></button>
[% END %]
[% IF Data.AppointmentID AND Data.PermissionLevel > 2 %]
    <button id="EditFormDelete" class="CallForAction"><span>[% Translate("Delete") | html %]</span></button>
[% END %]
    <button id="EditFormCancel" class="CallForAction"><span>[% Translate("Cancel") | html %]</span></button>
</div>

<script type="text/javascript">//<![CDATA[

Core.Form.Validate.Init();
Core.Agent.AppointmentCalendar.AllDayInit($('#AllDay'));
Core.Agent.AppointmentCalendar.RecurringInit({
    $Recurring: $('#Recurring'),
    $RecurrenceType: $('#RecurrenceType'),
    $RecurrenceCustomType: $('#RecurrenceCustomType'),
    $RecurrenceCustomTypeStringFieldset: $('#RecurrenceCustomTypeStringFieldset'),
    $RecurrenceIntervalText: $('#RecurrenceIntervalText'),
    $RecurrenceCustomWeeklyFieldset: $('#RecurrenceCustomWeeklyFieldset'),
    $RecurrenceCustomMonthlyFieldset: $('#RecurrenceCustomMonthlyFieldset'),
    $RecurrenceCustomYearlyFieldset: $('#RecurrenceCustomYearlyFieldset'),
    $RecurrenceLimitDiv: $('#RecurrenceLimitDiv'),
    $RecurrenceLimit: $('#RecurrenceLimit'),
    $RecurrenceUntilDiv: $('#RecurrenceUntilDiv'),
    $RecurrenceCountDiv: $('#RecurrenceCountDiv')
});
Core.Agent.AppointmentCalendar.TeamInit($('#TeamList'));
[% IF !Data.PermissionLevel OR Data.PermissionLevel > 1 %]
Core.Agent.AppointmentCalendar.PluginInit($('.PluginField'));
[% END %]

Core.Form.Validate.SetSubmitFunction($('#EditAppointmentForm'), function (Form) {
    var Data = new Object(),
        Days = new Array(),
        MonthDays = new Array(),
        Months = new Array();

    // serialize days
    $("#RecurrenceCustomWeeklyFieldset button.fc-state-active").each(function(){
        Days.push($(this).val());
    });
    $("input#Days").val(Days.join());

    // serialize month days
    $("#RecurrenceCustomMonthlyFieldset button.fc-state-active").each(function(){
        MonthDays.push($(this).val());
    });
    $("input#MonthDays").val(MonthDays.join());

    // serialize months
    $("#RecurrenceCustomYearlyFieldset button.fc-state-active").each(function(){
        Months.push($(this).val());
    });
    $("input#Months").val(Months.join());

    $(Form).find('input,textarea,select').each(function (Index, Element) {
        if (Element.type == 'checkbox') {
            Data[Element.id] = $(Element).prop('checked') ? '1' : '0';
        } else {
            Data[Element.id] = $(Element).val();
        }
    });

    Core.Agent.AppointmentCalendar.ShowWaitingDialog();
    Core.Agent.AppointmentCalendar.EditAppointment(Data);
});


$(".ButtonTable button").on("click", function() {
    $(this).toggleClass("fc-state-active");
});

// Duplicate appointment
$('#EditFormCopy').on('click', function() {
    // Reset AppointmentID, remove Copy & Delete buttons
    $("#EditAppointmentForm input#AppointmentID").val("");
    $('#EditAppointmentForm').submit();
});

// Save the appointment
$('#EditFormSubmit').on('click', function() {
    $('#EditAppointmentForm').submit();
});

[% IF Data.AppointmentID %]

// Delete the appointment
$('#EditFormDelete').on('click', function() {
    Core.Agent.AppointmentCalendar.ShowWaitingDialog();
    Core.Agent.AppointmentCalendar.EditAppointment({
        CalendarID: [% Data.CalendarID | JSON %],
        AppointmentID: [% Data.AppointmentID | JSON %],
        Action: 'AgentAppointmentEdit',
        Subaction: 'DeleteAppointment'
    });
});

[% END %]

[% IF Data.ParentID %]

// Edit parent appointment
$('#EditParent').on('click', function() {
    var Data = {
        ChallengeToken: $("#ChallengeToken").val(),
        Action: 'AgentAppointmentEdit',
        Subaction: 'EditMask',
        AppointmentID: [% Data.ParentID | JSON %]
    };

    Core.Agent.AppointmentCalendar.ShowWaitingDialog();
    Core.AJAX.FunctionCall(
        Core.Config.Get('CGIHandle'),
        Data,
        function (HTML) {
            Core.UI.Dialog.ShowContentDialog(HTML, [% Translate("Appointment") | JSON %], '10px', 'Center', true, undefined, true);
            Core.UI.InputFields.Activate($('.Dialog:visible'));
        }, 'html'
    );
});

[% END %]

// Close the dialog
$('#EditFormCancel').on('click', function() {
    Core.UI.Dialog.CloseDialog($('.Dialog:visible'));
});

[% InsertTemplate("Datepicker.tt") %]

[% RenderBlockStart("DatepickerInit") %]
Core.UI.Datepicker.Init({
    Day: $("#" + Core.App.EscapeSelector([% Data.Prefix | JSON %]) + "Day"),
    Month: $("#" + Core.App.EscapeSelector([% Data.Prefix | JSON %]) + "Month"),
    Year: $("#" + Core.App.EscapeSelector([% Data.Prefix | JSON %]) + "Year"),
    Hour: $("#" + Core.App.EscapeSelector([% Data.Prefix | JSON %]) + "Hour"),
    Minute: $("#" + Core.App.EscapeSelector([% Data.Prefix | JSON %]) + "Minute"),
    WeekDayStart: [% Data.WeekDayStart | JSON %]
});
[% RenderBlockEnd("DatepickerInit") %]

//]]></script>
[% RenderBlockEnd("EditMask") %]
