# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox ARIARoleMain LayoutFixedSidebar SidebarFirst">
    <h1>[% Translate("Appointment Calendar") | html %]</h1>

    <div class="SidebarColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">
                <ul class="ActionList">
                    <li>
                        <button value="Add" type="button" class="CallForAction Fullsize Center" id="AddCalendar">
                            <span><i class="fa fa-plus-square"></i>[% Translate("Add new calendar") | html %]</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Description") | html %]</h2>
            </div>
            <div class="Content">
                <p class="FieldExplanation">
                    [% Translate("This is a sandbox page for the Appointment Calendar control. Feel free to experiment, you can't mess it up.") | html %]
                </p>
            </div>
        </div>
    </div>

    <div class="ContentColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Calendar") | html %]</h2>
            </div>
            <div class="Content ">

[% RenderBlockStart("NoCalendar") %]
                <p>[% Translate("Please add a calendar first using button on the right.") | html %]</p>
[% RenderBlockEnd("NoCalendar") %]

[% RenderBlockStart("CalendarDiv") %]
                <h2>
                    [% Data.CalendarStrg %]
                </h2>

                <div style="width: [% Data.CalendarWidth | html %]%; margin: 0 auto; z-index: 10;" id="calendar"></div>
[% RenderBlockEnd("CalendarDiv") %]

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[

Core.Agent.AppointmentCalendar.Init({
    AllDayText: [% Translate("All-day") | JSON %],
    IsRTL: [% Data.IsRTLLanguage %],
    MonthNames: [
        [% Translate("January") | JSON %],
        [% Translate("February") | JSON %],
        [% Translate("March") | JSON %],
        [% Translate("April") | JSON %],
        [% Translate("May_long") | JSON %],
        [% Translate("June") | JSON %],
        [% Translate("July") | JSON %],
        [% Translate("August") | JSON %],
        [% Translate("September") | JSON %],
        [% Translate("October") | JSON %],
        [% Translate("November") | JSON %],
        [% Translate("December") | JSON %]
    ],
    MonthNamesShort: [
        [% Translate("Jan") | JSON %],
        [% Translate("Feb") | JSON %],
        [% Translate("Mar") | JSON %],
        [% Translate("Apr") | JSON %],
        [% Translate("May") | JSON %],
        [% Translate("Jun") | JSON %],
        [% Translate("Jul") | JSON %],
        [% Translate("Aug") | JSON %],
        [% Translate("Sep") | JSON %],
        [% Translate("Oct") | JSON %],
        [% Translate("Nov") | JSON %],
        [% Translate("Dec") | JSON %]
    ],
    DayNames: [
        [% Translate("Sunday") | JSON %],
        [% Translate("Monday") | JSON %],
        [% Translate("Tuesday") | JSON %],
        [% Translate("Wednesday") | JSON %],
        [% Translate("Thursday") | JSON %],
        [% Translate("Friday") | JSON %],
        [% Translate("Saturday") | JSON %]
    ],
    DayNamesShort: [
        [% Translate("Sun") | JSON %],
        [% Translate("Mon") | JSON %],
        [% Translate("Tue") | JSON %],
        [% Translate("Wed") | JSON %],
        [% Translate("Thu") | JSON %],
        [% Translate("Fri") | JSON %],
        [% Translate("Sat") | JSON %]
    ],
    ButtonText: {
        today: [% Translate("Today") | JSON %],
        month: [% Translate("Month") | JSON %],
        week: [% Translate("Week") | JSON %],
        day: [% Translate("Day") | JSON %],
        timeline: [% Translate("Timeline") | JSON %]
    },
    FirstDay: [% Data.FirstDay | html %],
    DialogText: {
        EditTitle: [% Translate("Appointment") | JSON %],
    },
    Callbacks: {
        EditAction: [% Data.EditAction | JSON %],
        EditSubaction: [% Data.EditSubaction | JSON %],
    }
});

$("button#AddCalendar").bind("click", function () {
    Core.UI.Dialog.ShowContentDialog($('#CalendarAddDialog'), [% Translate("Add new calendar") | JSON %], '20px', 'Center', true, [
        {
            Label: [% Translate("Add") | JSON %],
            Function: function () {
                var Data = Core.AJAX.SerializeForm($('#CalendarDialogForm'));
                Core.AJAX.FunctionCall(Core.Config.Get('CGIHandle'), Data, function (Response) {
                    if (Response.CalendarID > 0) {
                        location.reload();
                    }
                    if (Response.Error != null && Response.Error.ServerError != '') {
                        alert(Response.Error.ServerError); // TODO: Add translated text in .tt file
                    }
                }, 'json');
            },
        },
        {
            Label: [% Translate("Cancel") | JSON %],
            Function: function () {
                Core.UI.Dialog.CloseDialog($('.Dialog:visible'));
                return false;
            }
        }
    ]);
    return false;
});

//]]></script>
[% END %]

            </div>
        </div>
    </div>
    <div class="Clear"></div>

    <div id="CalendarAddDialog" class="Hidden">
        <form action="[% Env("CGIHandle") %]" method="post" id="CalendarDialogForm" name="CalendarDialogForm">
            <input type="hidden" value="AgentAppointmentCalendar" name="Action"/>
            <input type="hidden" value="CalendarAdd" name="Subaction"/>
            <fieldset class="TableLike">
                <label for="CalendarName" class="Mandatory"><span class="Marker">*</span>[% Translate("Calendar name") | html %]:</label>
                <div class="Field">
                    <input type="text" name="CalendarName" id="CalendarName" class="W75pc" />
                </div>
                <div class="Clear"></div>
            </fieldset>
        </form>
    </div>
</div>
