# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox ARIARoleMain LayoutFixedSidebar SidebarFirst">

    <h1 class="Header">[% Translate("Calendar Management") | html %]</h1>

    <div class="SidebarColumn">

        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">

                <ul class="ActionList">
[% IF Env("Subaction") == "Overview" %]
                    <li>
                        <a id="Back" href="[% Env("Baselink") %]Action=AgentAppointmentCalendarOverview" class="CallForAction Fullsize Center" title="[% Translate("Go back") | html %]">
                            <span><i class="fa fa-caret-left"></i>[% Translate("Go back") | html %]</span>
                        </a>
                    </li>
[% ELSIF Env("Subaction") != "" %]
                    <li>
                        <a id="Back" href="[% Env("Baselink") %]Action=AgentAppointmentCalendarManage" class="CallForAction Fullsize Center" title="[% Translate("Go back") | html %]">
                            <span><i class="fa fa-caret-left"></i>[% Translate("Go back") | html %]</span>
                        </a>
                    </li>
[% ELSE %]
                    <li>
                        <a id="Overview" href="[% Env("Baselink") %]Action=AgentAppointmentCalendarOverview" class="CallForAction Fullsize Center" title="[% Translate("Calendar Overview") | html %]">
                            <span><i class="fa fa-calendar"></i>[% Translate("Calendar Overview") | html %]</span>
                        </a>
                    </li>
[% END %]
[% RenderBlockStart("AddLink") %]
                    <li>
                        <a id="Add" href="[% Env("Baselink") %]Action=AgentAppointmentCalendarManage;Subaction=New" class="CallForAction Fullsize Center">
                            <span><i class="fa fa-plus-square"></i>[% Translate("Add new Calendar") | html %]</span>
                        </a>
                    </li>
[% RenderBlockEnd("AddLink") %]
                </ul>
            </div>
        </div>
[% RenderBlockStart("Import") %]
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Calendar Import") | html %]</h2>
            </div>
            <div class="Content">
                <p class="FieldExplanation">
                    [% Translate("Here you can upload a file to import calendar to your system. The file needs to be in .ics format.") | html %]
                </p>
                <ul class="ActionList">
                    <li>
                        <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" class="Validate PreventMultipleSubmits">
                            <input type="hidden" name="Action" value="[% Env("Action") %]"/>
                            <input type="hidden" name="Subaction" value="Import"/>
                            <input type="hidden" name="FormID" value="UploadForm"/>
                            <input name="FileUpload" id="FileUpload" type="file" size="18" class="Fixed W100pc Validate_Required [% Data.FileUploadInvalid | html %]"/>
                            <div id="FileUploadError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            <div id="FileUploadServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
                            <button class="CallForAction Fullsize Center" type="submit" value="[% Translate("Upload calendar") | html %]">
                                <span><i class="fa fa-upload"></i>[% Translate("Import calendar") | html %]</span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
[% RenderBlockEnd("Import") %]
[% RenderBlockStart("CalendarFilter") %]
        <div class="WidgetSimple">
            <div class="Header">
                <h2><label for="FilterCalendars">[% Translate("Filter for calendars") | html %]</label></h2>
            </div>
            <div class="Content">
                <input type="text" id="FilterCalendars" class="FilterBox" placeholder="[% Translate("Just start typing to filter...") | html %]" name="FilterCalendars" value="" title="[% Translate("Filter for calendars") | html %]">
            </div>
        </div>
[% RenderBlockEnd("CalendarFilter") %]
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Description") | html %]</h2>
            </div>
            <div class="Content">
                <p class="FieldExplanation">
                    [% Translate("Depending on the group field, the system will allow users the access to the calendar according to their permission level.") | html %]
                </p>
                <p class="FieldExplanation">
                    [% Translate("Read only: users can see and export all appointments in the calendar.") | html %]
                </p>
                <p class="FieldExplanation">
                    [% Translate("Move into: users can modify appointments in the calendar, but without changing the calendar selection.") | html %]
                </p>
                <p class="FieldExplanation">
                    [% Translate("Create: users can create and delete appointments in the calendar.") | html %]
                </p>
                <p class="FieldExplanation">
                    [% Translate("Read/write: users can manage the calendar itself.") | html %]
                </p>
            </div>
        </div>
    </div>

    <div class="ContentColumn">
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Data.Title | html %]</h2>
            </div>

            <div class="Content">
[% RenderBlockStart("ImportSuccess") %]
                <p>[% Translate("Calendar imported successfully.") | html %]</p>
[% RenderBlockEnd("ImportSuccess") %]
[% RenderBlockStart("Overview") %]
                <table class="DataTable" id="User">
                    <thead>
                        <tr>
                            <th>[% Translate("Name") | html %]</th>
                            <th>[% Translate("Group") | html %]</th>
                            <th>[% Translate("Validity") | html %]</th>
                            <th>[% Translate("Changed") | html %]</th>
                            <th>[% Translate("Created") | html %]</th>
                            <th class="Center W10pc">[% Translate("Export") | html %]</th>
                        </tr>
                    </thead>
                    <tbody>
[% RenderBlockStart("Calendar") %]
                        <tr>
                            <td>
                                <a href="[% Env("Baselink") %]Action=AgentAppointmentCalendarManage;Subaction=Edit;CalendarID=[% Data.CalendarID | uri %]">
                                    [% Data.CalendarName | html %]
                                </a>
                            </td>
                            <td>[% Data.Group | html %]</td>
                            <td>[% Translate(Data.Valid) | html %]</td>
                            <td>[% Data.ChangeTime | html %]</td>
                            <td>[% Data.CreateTime | html %]</td>
                            <td class="Center">
                                <a href="[% Env("CONTEXT_PREFIX") %]public.pl?Action=PublicCalendar;CalendarID=[% Data.CalendarID | uri %];UserID=[% Env("UserID") | uri %]">
                                    <i class="fa fa-download"></i>
                                    <span class="InvisibleText">[% Translate("Export") | html %]</span>
                                </a>
                            </td>
                        </tr>
[% RenderBlockEnd("Calendar") %]
[% RenderBlockStart("CalendarNoDataRow") %]
                        <tr>
                            <td colspan="6">
                                [% Translate("No data found.") | html %]
                            </td>
                        </tr>
[% RenderBlockEnd("CalendarNoDataRow") %]
                        <tr class="FilterMessage Hidden">
                            <td colspan="6" style="background-color: #fff !important;">[% Translate("No matches found.") | html %]</td>
                        </tr>
                    </tbody>
                </table>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.UI.Table.InitTableFilter($('#FilterCalendars'), $('#User'));
//]]></script>
[% END %]
[% RenderBlockEnd("Overview") %]
[% RenderBlockStart("CalendarEdit") %]
                <form action="[% Env("CGIHandle") %]" method="post" name="CalendarFrom" id="CalendarFrom" class="Validate PreventMultipleSubmits">
                    <input type="hidden" name="Action" value="[% Env("Action") %]" />
                    <input type="hidden" name="Subaction" value="[% Data.Subaction | html %]"/>
                    <input type="hidden" name="CalendarID" value="[% Data.CalendarID | html %]"/>
                    <fieldset class="TableLike">
                        <legend><span>[% Translate("Calendar") | html %]</span></legend>
                        <label for="CalendarName" class="Mandatory">
                            <span class="Marker">*</span>
                            [% Translate("Calendar name") | html %]:
                        </label>
                        <div class="Field">
                            <input type="text" id="CalendarName" name="CalendarName" value="[% Data.CalendarName | html %]"
                                class="Validate_Required W50pc [% Data.CalendarNameInvalid | html %]" />
                            <div id="CalendarNameError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
[% IF Data.CalendarNameExists %]
                            <div id="CalendarNameServerError" class="TooltipErrorMessage"><p>[% Translate("Calendar with same name already exists.") | html %]</p></div>
[% ELSE %]
                            <div id="CalendarNameServerError" class="TooltipErrorMessage"><p>[% Translate("This field is required.") | html %]</p></div>
[% END %]
                        </div>
                        <div class="Clear"></div>

                        <label for="GroupID" class="Mandatory">
                            <span class="Marker">*</span>
                            [% Translate("Permission group") | html %]:
                        </label>
                        <div class="Field">
                            [% Data.GroupID %]
                        </div>
                        <div class="Clear"></div>

                        <label for="ValidID" class="Mandatory">
                            <span class="Marker">*</span>
                            [% Translate("Validity") | html %]:
                        </label>
                        <div class="Field">
                            [% Data.ValidID %]
                        </div>
                        <div class="Clear"></div>

                        <div class="Field SpacingTop">
                            <button value="Save" type="submit" id="Submit" class="Primary CallForAction">
                                <span>[% Translate("Save") | html %]</span>
                            </button>
                            [% Translate("or") | html %]
                            <a href="[% Env("Baselink") %]Action=AgentAppointmentCalendarManage" title="[% Translate("Cancel") | html %]">
                                <span>[% Translate("Cancel") | html %]</span>
                            </a>
                        </div>
                        <div class="Clear"></div>
                    </fieldset>
                </form>
[% RenderBlockEnd("CalendarEdit") %]
            </div>
        </div>
    </div>
</div>
