# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("EditMask") %]
<div class="InnerContent">
    <form id="EditAppointmentForm" class="Validate">
        <input type="hidden" name="Action" value="[% Env("Action") %]" id="AgentAppointmentEdit"/>
        <input type="hidden" name="Subaction" value="Store"/>
        <input type="hidden" name="AppointmentID" value="[% Data.AppointmentID | html %]"/>
        <fieldset class="TableLike">
            <legend><span>[% Translate("Basic info") | html %]</span></legend>
            <label class="Mandatory" for="Title"><span class="Marker">*</span> [% Translate("Title") | html %]:</label>
            <div class="Field">
                <input type="text" id="Title" name="Title" value="[% Data.Title | html %]" class="W75pc Validate_Required" />
                <div id="TitleError" class="TooltipErrorMessage">
                    <p>[% Translate("This field is required.") | html %]</p>
                </div>
                <div id="TitleServerError" class="TooltipErrorMessage">
                    <p>[% Translate("This field is required.") | html %]</p>
                </div>
            </div>
            <div class="Clear"></div>
            <label for="Description">[% Translate("Description") | html %]:</label>
            <div class="Field">
                <textarea name="Description" class="W75pc" rows="4">[% Data.Description | html %]</textarea>
            </div>
            <div class="Clear"></div>
            <label for="Location">[% Translate("Location") | html %]:</label>
            <div class="Field">
                <input type="text" name="Location" value="[% Data.Location | html %]" class="W50pc" />
            </div>
            <div class="Clear"></div>
            <label for="CalendarID">[% Translate("Calendar") | html %]:</label>
            <div class="Field">
                [% Data.CalendarIDStrg %]
            </div>
        </fieldset>
        <fieldset class="TableLike">
            <legend><span>[% Translate("Date/Time") | html %]</span></legend>
            <label>[% Translate("Start date") | html %]:</label>
            <div class="Field">
                [% Data.StartDateString %]
            </div>
            <div class="Clear"></div>
            <label>[% Translate("End date") | html %]:</label>
            <div class="Field">
                [% Data.EndDateString %]
                <p class="FieldExplanation">Turn off the End date for an all-day appointment.</p>
            </div>
        </fieldset>
    </form>
</div>

<div class="ContentFooter Center">
    <button id="EditFormSubmit" class="Primary CallForAction" value="[% Translate("Save") | html %]"><span><i class="fa fa-check-square-o"></i> [% Translate("Save") | html %]</span></button>
[% IF Data.AppointmentID %]
    <button id="EditFormDelete" class="CallForAction"><span>[% Translate("Delete") | html %]</span></button>
[% END %]
    <button id="EditFormCancel" class="CallForAction"><span>[% Translate("Cancel") | html %]</span></button>
</div>

<script type="text/javascript">//<![CDATA[

Core.Form.Validate.Init();

Core.Form.Validate.SetSubmitFunction($('#EditAppointmentForm'), function (Form) {

    var Data = {
        CalendarID: $('select[name="CalendarID"]').val(),
        Title: $('input[name="Title"]').val(),
        Description: $('textarea[name="Description"]').val(),
        Location: $('input[name="Location"]').val(),
        StartYear: $('#StartYear').val(),
        StartMonth: $('#StartMonth').val(),
        StartDay: $('#StartDay').val(),
        StartHour: $('#StartHour').val(),
        StartMinute: $('#StartMinute').val(),
        EndUsed: $('#EndUsed').prop('checked') ? '1' : '0',
        EndYear: $('#EndYear').val(),
        EndMonth: $('#EndMonth').val(),
        EndDay: $('#EndDay').val(),
        EndHour: $('#EndHour').val(),
        EndMinute: $('#EndMinute').val()
    };

[% IF Data.AppointmentID %]

    // Edit screen
    Data.Action = 'AgentAppointmentEdit';
    Data.Subaction = 'EditAppointment';
    Data.AppointmentID = $('input[name="AppointmentID"]').val();

    Core.AJAX.FunctionCall(
        Core.Config.Get('CGIHandle'),
        Data,
        function (Response) {
            if (Response.Success) {
                $('#calendar').fullCalendar('refetchEvents');

                // Close the dialog
                Core.UI.Dialog.CloseDialog($('.Dialog:visible'));
            }
        }
    );

[% ELSE %]

    // Add screen
    Data.Action = 'AgentAppointmentEdit';
    Data.Subaction = 'AddAppointment';

    Core.AJAX.FunctionCall(
        Core.Config.Get('CGIHandle'),
        Data,
        function (Response) {
            if (Response.AppointmentID) {
                $('#calendar').fullCalendar('refetchEvents');

                // Close the dialog
                Core.UI.Dialog.CloseDialog($('.Dialog:visible'));
            }
        }
    );

[% END %]

});

// Save the appointment
$('#EditFormSubmit').bind('click', function() {
    $('#EditAppointmentForm').submit();
});

[% IF Data.AppointmentID %]

// Delete the appointment
$('#EditFormDelete').bind('click', function() {
    Data = {
        CalendarID: [% Data.CalendarID | JSON %],
        AppointmentID: $('input[name="AppointmentID"]').val(),
        Action: 'AgentAppointmentEdit',
        Subaction: 'DeleteAppointment'
    };

    Core.AJAX.FunctionCall(
        Core.Config.Get('CGIHandle'),
        Data,
        function (Response) {
            if (Response.Success) {
                $('#calendar').fullCalendar('refetchEvents');

                // Close the dialog
                Core.UI.Dialog.CloseDialog($('.Dialog:visible'));
            }
        }
    );
});

[% END %]

// Close the dialog
$('#EditFormCancel').bind('click', function() {
    Core.UI.Dialog.CloseDialog($('.Dialog:visible'));
});

function InitAllDay() {
    var $EndUsed = $('#EndUsed');
    if (!$EndUsed.prop('checked')) {
        $('#StartHour,#StartMinute,#EndYear,#EndMonth,#EndDay,#EndHour,#EndMinute').prop('disabled', true);
    } else {
        $('#StartHour,#StartMinute,#EndYear,#EndMonth,#EndDay,#EndHour,#EndMinute').prop('disabled', false);
    }
}

InitAllDay();

$('#EndUsed').on('change', InitAllDay);

//]]></script>
[% RenderBlockEnd("EditMask") %]
