# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

[% RenderBlockStart("Overview") %]
<div class="MainBox ARIARoleMain LayoutFixedSidebar SidebarFirst">

    <h1 class="Header">[% Translate("Manage Teams") | html %]</h1>

    <div class="SidebarColumn">
        <div class="WidgetSimple">

[% RenderBlockStart("ActionList") %]
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">
                <ul class="ActionList">
[% RenderBlockStart("ActionOverview") %]
                    <li>
                        <a href="[% Env("Baselink") %]Action=[% Env("Action") %]" class="CallForAction Fullsize Center">
                            <span><i class="fa fa-caret-left"></i>[% Translate("Go to overview") | html %]</span>
                        </a>
                    </li>
[% RenderBlockEnd("ActionOverview") %]

[% RenderBlockStart("ActionAdd") %]
                    <li>
                        <a href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=Add" class="CallForAction Fullsize Center">
                            <span><i class="fa fa-plus-square"></i>[% Translate("Add Team") | html %]</span>
                        </a>
                    </li>
                    <li>
                        <a href="[% Env("CGIHandle") %]?Action=AgentAppointmentTeamUser" class="CallForAction Fullsize Center">
                            <span><i class="fa fa-user-plus"></i>[% Translate("Manage Team Agents") | html %]</span>
                        </a>
                    </li>
[% RenderBlockEnd("ActionAdd") %]
                </ul>
            </div>
[% RenderBlockEnd("ActionList") %]
        </div>
        <div class="WidgetSimple">
            <div class="Header">
                <h2><label for="FilterTeams">[% Translate("Filter") | html %]</label></h2>
            </div>
            <div class="Content">
                <input type="text" id="FilterTeams" class="FilterBox" placeholder="[% Translate("Just start typing to filter...") | html %]" name="FilterTeams" value=""  title="[% Translate("Filter for teams") | html %]"/>
            </div>
        </div>
    </div>

    <div class="ContentColumn">
        <div class="WidgetSimple">

[% RenderBlockStart("OverviewResult") %]
            <div class="Header">
                <h2>[% Translate("List") | html %]</h2>
            </div>
            <div class="Content">

                <table class="DataTable" id="AppointmentTeams">
                    <thead>
                        <tr>
                            <th>[% Translate("Name") | html %]</th>
                            <th>[% Translate("Group") | html %]</th>
                            <th>[% Translate("Comment") | html %]</th>
                            <th>[% Translate("Validity") | html %]</th>
                            <th>[% Translate("Changed") | html %]</th>
                            <th>[% Translate("Created") | html %]</th>
                        </tr>
                    </thead>
                    <tbody>
[% RenderBlockStart("NoDataFoundMsg") %]
                        <tr>
                            <td colspan="6">
                                [% Translate("No data found.") | html %]
                            </td>
                        </tr>
[% RenderBlockEnd("NoDataFoundMsg") %]
[% RenderBlockStart("OverviewResultRow") %]
                        <tr>
                            <td>
                                <a class="AsBlock" href="[% Env("Baselink") %]Action=[% Env("Action") %];Subaction=Change;TeamID=[% Data.TeamID | uri %]">
                                    [% Data.Name | html %]
                                </a>
                            </td>
                            <td>
                                [% Translate(Data.GroupName) | html %]
                            </td>
                            <td>
                                [% Translate(Data.Comment) | html %]
                            </td>
                            <td>
                                [% Translate(Data.Valid) | html %]
                            </td>
                            <td>[% Data.ChangeTime | Localize("TimeShort") %]</td>
                            <td>[% Data.CreateTime | Localize("TimeShort") %]</td>
                        </tr>
[% RenderBlockEnd("OverviewResultRow") %]
                        <tr class="FilterMessage Hidden">
                            <td colspan="3" style="background-color: #fff !important;">[% Translate("No matches found.") | html %]</td>
                        </tr>
                    </tbody>
                </table>
            </div>
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[
    Core.UI.Table.InitTableFilter($('#FilterTeams'), $('#AppointmentTeams'));
//]]></script>
[% END %]
[% RenderBlockEnd("OverviewResult") %]

[% RenderBlockStart("OverviewUpdate") %]
            <div class="Header">
[% RenderBlockStart("HeaderAdd") %]
                <h2>[% Translate("Add Team") | html %]</h2>
[% RenderBlockEnd("HeaderAdd") %]
[% RenderBlockStart("HeaderEdit") %]
                <h2>[% Translate("Edit Team") | html %]</h2>
[% RenderBlockEnd("HeaderEdit") %]
            </div>
            <div class="Content">

                <form action="[% Env("CGIHandle") %]" method="post" class="Validate">
                    <input type="hidden" name="Action" value="[% Env("Action") %]" />
                    <input type="hidden" name="Subaction" value="[% Data.Action | uri %]Action" />
                    <input type="hidden" name="TeamID" value="[% Data.TeamID | html %]" />
                    <fieldset class="TableLike">
                        <legend><span>[% Translate("Team") | html %]</span></legend>
                        <label class="Mandatory" for="Name"><span class="Marker">*</span> [% Translate("Name") | html %]:</label>
                        <div class="Field">
                            <input type="text" name="Name" id="Name" value="[% Data.Name | html %]" class="W50pc Validate_Required [% Data.NameInvalid | html %]" maxlength="200"/>
                            <div id="NameError" class="TooltipErrorMessage">
                                <p>[% Translate("This field is required.") | html %]</p>
                            </div>
                            <div id="NameServerError" class="TooltipErrorMessage">
                                <p>[% Translate("This field is required.") | html %]</p>
                            </div>
                        </div>
                        <div class="Clear"></div>

                        <label class="Mandatory" for="GroupID"><span class="Marker">*</span> [% Translate("Permission group") | html %]:</label>
                        <div class="Field">
                            [% Data.GroupOptionStrg %]
                            <div id="GroupIDError" class="TooltipErrorMessage">
                                <p>[% Translate("This field is required.") | html %]</p>
                            </div>
                            <div id="GroupIDServerError" class="TooltipErrorMessage">
                                <p>[% Translate("This field is required.") | html %]</p>
                            </div>
                        </div>
                        <div class="Clear"></div>

                        <label for="Comment">[% Translate("Comment") | html %]:</label>
                        <div class="Field">
                            <input type="text" name="Comment" id="Comment" value="[% Data.Comment | html %]" class="W50pc" maxlength="250"/>
                        </div>
                        <div class="Clear"></div>

                        <label class="Mandatory" for="ValidID"><span class="Marker">*</span> [% Translate("Validity") | html %]:</label>
                        <div class="Field">
                            [% Data.ValidOptionStrg %]
                            <div id="ValidIDError" class="TooltipErrorMessage">
                                <p>[% Translate("This field is required.") | html %]</p>
                            </div>
                            <div id="ValidIDServerError" class="TooltipErrorMessage">
                                <p>[% Translate("This field is required.") | html %]</p>
                            </div>
                        </div>
                        <div class="Clear"></div>

                        <div class="Field SpacingTop">
                            <button class="Primary CallForAction" type="submit" value="[% Translate("Submit") | html %]">
                                <span>[% Translate("Submit") | html %]</span>
                            </button>
                            [% Translate("or") | html %]
                            <a href="[% Env("Baselink") %]Action=[% Env("Action") %]" title="[% Translate("Cancel") | html %]">
                                <span>[% Translate("Cancel") | html %]</span>
                            </a>
                        </div>
                        <div class="Clear"></div>
                    </fieldset>
                </form>
            </div>
[% RenderBlockEnd("OverviewUpdate") %]
        </div>
    </div>
    <div class="Clear"></div>
</div>
[% RenderBlockEnd("Overview") %]
