# --
# Copyright (C) 2001-2016 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="InnerContent">
    <h2>[% Translate("Following appointments have been started") | html %]:</h2>
    <form id="SearchForm">
        <table class="DataTable">
            <thead>
                <tr>
                    <th>[% Translate("Title") | html %]</th>
                    <th>[% Translate("Start time") | html %]</th>
                    <th>[% Translate("End time") | html %]</th>
[% IF Data.ShowResources %]
                    <th>[% Translate("Resource") | html %]</th>
[% END %]
                </tr>
            </thead>
            <tbody>
[% RenderBlockStart("Appointment") %]
                <tr>
                    <td>[% Data.Title | html %]</td>
                    <td>[% Data.StartTime | html %]</td>
                    <td>[% Data.EndTime | html %]</td>
[% IF Data.ShowResources %]
                    <td title="[% Data.Resource | html %]">
                        [% Data.Resource | truncate(30) %]
                    </td>
[% END %]
                </tr>
[% RenderBlockEnd("Appointment") %]
            </tbody>
        </table>
    </from>
</div>
